﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        @*<h1>Erro.</h1>
        <h2>Ocorreu um erro ao processar sua solicitação.</h2>*@
        <div class="mx-auto col-12">

            <h2 class="m-auto">Ops algo deu errado.</h2>
            <h2 class="m-auto">algo inesperado ocorreu ao acessar esta funcionalidade.</h2>
            <hr />  
            <small class="row ml-1"> Contacte os desenvolvedores para uma melhor analise</small>
            <button class="form-group btn col-4 row m-4 p-2 btn-outline-primary" onclick="window.history.go(-1);" >  Voltar  </button>

        </div>
    </hgroup>
</body>
</html>
