﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    PowerOne.Models.ConfDocumento configs = (PowerOne.Models.ConfDocumento)TempData["config"];

    List<PowerOne.Models.ItemEstoque>
        itens = (List<PowerOne.Models.ItemEstoque>)TempData["ItensEstoque"];

    List<PowerOne.Models.Filiais>
        filiais = (List<PowerOne.Models.Filiais>)TempData["filiais"];

    List<PowerOne.Models.Projetos> projetos = (List<PowerOne.Models.Projetos>)TempData["projetos"];
    PowerOne.Models.Projetos visivel = (PowerOne.Models.Projetos)TempData["visivel"];

    List<PowerOne.Models.CentroCusto> ctCustos = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto"];
    List<PowerOne.Models.CentroCusto> ctCustos2 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto2"];
    List<PowerOne.Models.CentroCusto> ctCustos3 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto3"];
    List<PowerOne.Models.CentroCusto> ctCustos4 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto4"];
    List<PowerOne.Models.CentroCusto> ctCustos5 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto5"];
}

<h1 class="col-12 text-center">Criar Requisição de Saida de Estoque</h1>
<hr />

<div class="alert col-10 mx-auto alert-hidde" role="alert" id="alert">
</div>
<fieldset id="testeDisabled">
    <div class="card col-10 mx-auto bg-light p-0">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="row py-2">

                        <strong class="col-md-3">Empresa</strong>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                @if (configs.IdFilial != "")
                                {
                                    <input type="hidden" id="DefaultDeposito" name="DefaultDeposito" data-id="@configs.IdDeposito" value="@configs.Deposito" readonly>

                                    <input type="text" class="form-control d-none" id="idFilial" name="Bp_ID" value="@Html.DisplayFor(model => configs.IdFilial)" readonly>
                                    <input type="text" class="form-control" id="pesquisar-filial" name="Bp_Name" autofocus value="@Html.DisplayFor(model => configs.Filial)">
                                    <div class="input-group-append">
                                        <button id="botao-filial" class="btn btn-outline-secondary material-icons tiny" type="button" onclick="SearchFilial()" data-toggle="modal" data-target="#filial-modal">
                                            search
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" id="DefaultDeposito" name="DefaultDeposito" data-id="0" value="" readonly>

                                    <input type="text" class="form-control d-none" id="idFilial" name="Bp_ID" disabled>
                                    <input type="text" class="form-control" id="pesquisar-filial" name="Bp_Name" autofocus placeholder="Selecione...">
                                    <div class="input-group-append">
                                        <button id="botao-filial" class="btn btn-outline-secondary material-icons tiny" type="button" onclick="SearchFilial()" data-toggle="modal" data-target="#filial-modal">
                                            search
                                        </button>
                                    </div>
                                }
                            </div>
                            <span id="filial_validacao" class="text-danger"></span>
                        </div>

                        <!-- Modal de seleção de Filial -->
                        <div class="modal" tabindex="-1" id="filial-modal" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header text-white bg-dark">
                                        <h5 class="modal-title">Selecione:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body p-0 scroll max-height-500">
                                        <table class="table table-striped table-hover col-md-12 m-auto ">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">
                                                        Código Filial
                                                    </th>
                                                    <th scope="col">
                                                        Nome Filial
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="lista-tabela-filial">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer m-auto col-12">
                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card-body p-0 scroll max-height-250">
            <table class="table table-striped col-md-12 m-auto text-center">
                <thead class="thead-dark">
                    <tr class="tr">
                        <th scope="col">Nº Linha</th>
                        <th scope="col">Cód. Item</th>
                        <th scope="col">Descrição do Item</th>
                        @if (configs.VisivelItem == "Y")
                        {
                            <th scope="col">Grupo do Item</th>
                        }
                        <th scope="col">Quantidade</th>
                        @if (configs.VisivelUnd == "Y")
                        {
                            <th scope="col">Und. Medida</th>
                        }
                        <th scope="col">Depósito</th>
                        @if (TempData["ctCusto"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo</th>
                        }
                        @if (TempData["ctCusto2"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo2</th>
                        }
                        @if (TempData["ctCusto3"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo3</th>
                        }
                        @if (TempData["ctCusto4"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo4</th>
                        }
                        @if (TempData["ctCusto5"] != null)
                        {
                            <th scope="col" class="th-ctCusto">Centro de custo5</th>
                        }
                        @if (configs.VisivelProj == "Y")
                        {
                            <th scope="col">Projeto</th>
                        }
                        <th scope="col">Observação</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <form class="row">

                        <div class="form-group col-md-3">
                            <label>Item:</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" autocomplete="off" placeholder="Selecione..." aria-label="Example text with button addon" aria-describedby="button-addon1" id="pesquisar-item-estoque">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary material-icons tiny" type="button" onclick="listarItensEstocaveis()" data-toggle="modal" data-target="#itens-modal">
                                        search
                                    </button>
                                </div>
                            </div>
                            <span id="item_validacao" class="text-danger"></span>

                            <!-- Modal da seleção de itens -->
                            <div class="modal" tabindex="-1" id="itens-modal" aria-labelledby="" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">

                                        <div class="modal-header text-white bg-dark">
                                            <h5 class="modal-title">Selecione:</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body p-0 scroll max-height-500">
                                            <table class="table table-striped table-hover col-md-12 m-auto ">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col">
                                                            Código
                                                        </th>
                                                        <th scope="col">
                                                            Descrição
                                                        </th>
                                                        <th scope="col">
                                                            Tipo
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="lista-tabela-itens">
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="modal-footer m-auto col-12">
                                            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <span id="item_validacao" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Código: </label>
                            <input type="text" id="desc-item" class="form-control" readonly />
                        </div>
                        @if (configs.VisivelItem == "Y")
                        {
                            <div class="form-group col-md-3">
                                <label>Grupo Item: </label>
                                <input type="text" id="group-item" class="form-control" readonly />
                            </div>
                        }
                        <div class="form-group col-md-3">
                            <label>Depósito:</label>
                            <select name="deposito" class="form-control" id="deposito">
                                <option value=""> -- </option>
                            </select>
                            <span id="deposito_validacao" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Quantidade: </label>
                            <input inputmode="numeric" type="tel" id="quantidade" max="14" class="form-control" onkeypress='return SomenteNumero(event, this)' />
                            <span id="quantidade_validacao" class="text-danger"></span>
                        </div>
                        @if (configs.VisivelUnd == "Y")
                        {
                            <div class="form-group col-md-3">
                                <label>Und. Medida: </label>
                                <input type="text" id="unidadeMedida" class="form-control" readonly />
                            </div>
                        }
                        <div class="form-group col-md-3">
                            <label>Observação: </label>
                            <input type="text" id="observacao" class="form-control" />
                            <small class="text-muted">(Opcional)</small>
                        </div>

                        @if (configs.VisivelProj == "Y")
                        {
                            <div class="form-group col-md-3">
                                <label>Projeto:</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control d-none" id="idProjeto" name="Projeto" disabled>
                                    <input type="text" class="form-control" autocomplete="off" placeholder="Selecione..." id="pesquisar-projeto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary material-icons tiny" type="button" onclick="SearchProjeto()" data-toggle="modal" data-target="#projeto-modal">
                                            search
                                        </button>
                                    </div>
                                </div>
                                <small class="text-muted">(Opcional)</small>

                                <!-- Modal da seleção de Projeto -->
                                <div class="modal" tabindex="-1" id="projeto-modal" aria-labelledby="" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">

                                            <div class="modal-header text-white bg-dark">
                                                <h5 class="modal-title">Selecione:</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body p-0 scroll max-height-500">
                                                <table class="table table-striped table-hover col-md-12 m-auto ">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">
                                                                Código
                                                            </th>
                                                            <th scope="col">
                                                                Descrição
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="lista-tabela-projeto">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer m-auto col-12">
                                                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (TempData["ctCusto"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo: </label>
                                <select name="ctCusto" class="form-control" id="OcrCode">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos)
                                    {
                                        <option value="@ctCusto.OcrCode.ToString()">@ctCusto.OcrCode - @ctCusto.OcrName</option>
                                    }
                                </select>
                                <span id="ccusto_validacao" class="text-danger"></span>
                            </div>
                        }

                        @if (TempData["ctCusto2"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo 2: </label>
                                <select name="ctCusto2" class="form-control" id="OcrCode2">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos2)
                                    {
                                        <option value="@ctCusto.OcrCode.ToString()">@ctCusto.OcrCode - @ctCusto.OcrName</option>
                                    }
                                </select>
                                <span id="ccusto2_validacao" class="text-danger"></span>
                            </div>
                        }
                        @if (TempData["ctCusto3"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo 3: </label>
                                <select name="ctCusto3" class="form-control" id="OcrCode3">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos3)
                                    {
                                        <option value="@ctCusto.OcrCode.ToString()">@ctCusto.OcrCode - @ctCusto.OcrName</option>
                                    }
                                </select>
                                <span id="ccusto3_validacao" class="text-danger"></span>
                            </div>
                        }
                        @if (TempData["ctCusto4"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo 4: </label>
                                <select name="ctCusto4" class="form-control" id="OcrCode4">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos4)
                                    {
                                        <option value="@ctCusto.OcrCode.ToString()">@ctCusto.OcrCode - @ctCusto.OcrName</option>
                                    }
                                </select>
                                <span id="ccusto4_validacao" class="text-danger"></span>
                            </div>
                        }
                        @if (TempData["ctCusto5"] != null)
                        {
                            <div class="form-group col-md-3">
                                <label>Ct. Custo 5: </label>
                                <select name="ctCusto5" class="form-control" id="OcrCode5">
                                    <option value="" selected disabled></option>
                                    @foreach (var ctCusto in ctCustos5)
                                    {
                                        <option value="@ctCusto.OcrCode.ToString()">@ctCusto.OcrCode - @ctCusto.OcrName</option>
                                    }
                                </select>
                                <span id="ccusto5_validacao" class="text-danger"></span>
                            </div>
                        }


                        <div class="row col-md-12 mx-auto">
                            <label class="col-12"><br /></label>
                            <button type="button" class="btn btn-block btn-outline-dark material-icons col-md-2 mx-auto" onclick="salvarLinhaEstoque()">add</button>
                        </div>

                    </form>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <form class="col-md-8 mx-auto">
                            <div class="form-group">
                                <label>Observações: </label>
                                <textarea class="form-control" id="ObservacaoGeral"></textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="row p-2">
                                        <button class="btn btn-success col-md-12" id="enviar" type="button" onclick="salvar()" disabled="disabled">Salvar Requerimento</button>
                                        <button class="btn btn-success d-none col-md-12 p-2" id="load" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Adicionando...
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row p-2">
                                        @Html.ActionLink("Voltar", "Estoque", "Home", null, new { @class = "btn btn-outline-primary  col-md-12" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</fieldset>
@section scripts{

    <script src="~/Content/scripts/selects.js"></script>

    <script src="~/Content/scripts/formInTableLine.js"></script>

    @if (configs.IdDeposito != "")
    {
        <script>
            listarDepositos()
        </script>
    }

    <script>

        var linhas = [];

        function isValid(data) {

            var msg = "";
            var valid = true;

            //if (data.CodigoDeposito == null) {
            //    msg = "Depósito é um campo obrigatório.";
            //    escreverMensagemEmInput('#deposito_validacao', msg);
            //    msg = "Escolha uma filial!";
            //    escreverMensagemEmInput('#filial_validacao', msg);
            //    valid = false;
            //}

            if (data.Quantidade == "" || data.Quantidade == "," || data.Quantidade <= 0) {
                msg = "Quantidade é um campo obrigatório.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            } else if (data.Quantidade.substr(0, 1) == ",") {
                msg = "Quantidade Inválida.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            }

            teste = $('#pesquisar-item-estoque').val();
            if (teste == null || teste == "") {
                msg = "Escolha um item!";
                escreverMensagemEmInput('#item_validacao', msg);
                valid = false;
            }

            if (countCCusto != 0) {
                if (isAnyEmpty($('#OcrCode :selected'))) {
                    escreverMensagemEmInput('#ccusto_validacao', "Centro de custo é obrigatório");
                    valid = false;
                }
            }

            if (countCCusto2 != 0) {
                if (isAnyEmpty($('#OcrCode2 :selected'))) {
                    escreverMensagemEmInput('#ccusto2_validacao', "Centro de custo 2 é obrigatório");
                    valid = false;
                }
            }

            if (countCCusto3 != 0) {
                if (isAnyEmpty($('#OcrCode3 :selected'))) {
                    escreverMensagemEmInput('#ccusto3_validacao', "Centro de custo 3 é obrigatório");
                    valid = false;
                }
            }

            if (countCCusto4 != 0) {
                if (isAnyEmpty($('#OcrCode4 :selected'))) {
                    escreverMensagemEmInput('#ccusto4_validacao', "Centro de custo 4 é obrigatório");
                    valid = false;
                }
            }

            if (countCCusto5 != 0) {
                if (isAnyEmpty($('#OcrCode5 :selected'))) {
                    escreverMensagemEmInput('#ccusto5_validacao', "Centro de custo 5 é obrigatório");
                    valid = false;
                }
            }

            return valid;
        }

        var countCCusto = $('#OcrCode').length;
        var countCCusto2 = $('#OcrCode2').length;
        var countCCusto3 = $('#OcrCode3').length;
        var countCCusto4 = $('#OcrCode4').length;
        var countCCusto5 = $('#OcrCode5').length;

        function salvarLinhaEstoque() {
            var linha = {}

            //var countCCusto = $('.th-ctCusto').length;

            linha.CodigoItem = $('#desc-item').val();
            linha.DecricaoItem = $('#pesquisar-item-estoque').val();
            let salvarVargrp = $('#group-item').length;
            if (salvarVargrp != 0) {

                linha.GroupItem = $('#group-item').val();
            }

            linha.CodigoDeposito = $('#deposito :selected').val();
            linha.DescricaoDeposito = $('#deposito :selected').text();

            linha.Quantidade = $('#quantidade').val();
            let salvarVarUND = $('#unidadeMedida').length;
            if (salvarVarUND != 0) {
                linha.UndMedida = $('#unidadeMedida').val();
            }

            linha.Observacao = $('#observacao').val();


            if (countCCusto != 0) {
                linha.OcrCode = $('#OcrCode :selected').val();
                linha.OcrName = $('#OcrCode :selected').text();
            }

            if (countCCusto2 != 0) {
                linha.OcrCode2 = $('#OcrCode2 :selected').val();
                linha.OcrName2 = $('#OcrCode2 :selected').text();
            }

            if (countCCusto3 != 0) {
                linha.OcrCode3 = $('#OcrCode3 :selected').val();
                linha.OcrName3 = $('#OcrCode3 :selected').text();
            }

            if (countCCusto4 != 0) {
                linha.OcrCode4 = $('#OcrCode4 :selected').val();
                linha.OcrName4 = $('#OcrCode4 :selected').text();
            }

            if (countCCusto5 != 0) {
                linha.OcrCode5 = $('#OcrCode5 :selected').val();
                linha.OcrName5 = $('#OcrCode5 :selected').text();
            }

            if ($('#idProjeto').length != 0) {
                linha.Projeto = $('#idProjeto').val();
                linha.PrjName = $('#pesquisar-projeto').val();
            }

            if (isValid(linha)) {
                linhas.push(linha);
                listar();

                $('#toast').toast('show');
            } else {
                linha = {}
            }
        }

        function listar() {
            limparFormTable();
            //var countCCusto = $('.th-ctCusto').length;
            linhas.forEach(function (item) {
                var row = "";

                console.log(item);

                if (linhas.length > 0) {
                    $('#enviar').prop('disabled', false);
                    $("#pesquisar-filial").prop('disabled', true);
                    $("#bp").prop('disabled', true);
                } else if (linhas.length <= 0) {
                    $('#enviar').prop('disabled', false);
                    $("#pesquisar-filial").prop('disabled', false);
                }

                row += "<td>" + (linhas.indexOf(item) + 1) + "</td>";
                row += "<td>" + item.CodigoItem + "</td>";
                row += "<td>" + item.DecricaoItem + "</td>";
                let varListargrpoitm = item.GroupItem;
                if (varListargrpoitm != undefined) {

                    row += "<td>" + item.GroupItem + "</td>";
                }

                row += "<td>" + item.Quantidade + "</td>";
                let varListarund = item.UndMedida;
                if (varListarund != undefined) {
                    row += "<td>" + item.UndMedida + "</td>";
                }

                row += "<td>" + item.DescricaoDeposito + "</td>";

                if (countCCusto != 0) {
                    row += "<td>" + item.OcrName + "</td>";
                }
                if (countCCusto2 != 0) {
                    row += "<td>" + item.OcrName2 + "</td>";
                }
                if (countCCusto3 != 0) {
                    row += "<td>" + item.OcrName3 + "</td>";
                }
                if (countCCusto4 != 0) {
                    row += "<td>" + item.OcrName4 + "</td>";
                }
                if (countCCusto5 != 0) {
                    row += "<td>" + item.OcrName5 + "</td>";
                }
                if ($('#idProjeto').length != 0) {
                    row += "<td>" + item.PrjName + "</td>";
                }

                row += "<td>" + item.Observacao + "</td>";

                row += "<td>" + "<button class='btn btn-outline-danger' onclick='excluirLinha(" + linhas.indexOf(item) + ")'>Excluir</button>" + "</td>";

                $('tbody').append("<tr class='tr'>" + row + "<tr>");
            });
        }

        function limparFormTable() {
            $('tbody tr').remove();
            $('form div input').each(function () {
                this.value = '';
            });

            $('form div select').each(function () {
                this.value = '';
            });
            listarItensEstocaveis("");
        }

        function salvar() {
            var data = new Date();
            var requerimento = {
                DataLancamento: data.toLocaleString(),
                Observacao: $('textarea#ObservacaoGeral').val(),
                Bp_ID: $('#idFilial').val(),
                Bp_Name: $('#pesquisar-filial').val(),
                Itens: linhas
            };

            $.ajax({
                url: '/RequerimentoEstoque/Add',
                type: 'post',
                dataType: 'json',
                data: {
                    'ReqEstoque': requerimento
                },
                beforeSend: function () {
                    //Aqui adicionas o loader
                    $("#load").removeClass("d-none");
                    $("#enviar").addClass("d-none")
                    $("#testeDisabled").prop('disabled', true);
                },
                success: function (data) {
                    if (data.type == 'error') {
                        $('#alert').text(data.msg);
                        $('#alert').removeClass('alert-hidde');
                        $('#alert').addClass('alert-danger');
                        $("#load").addClass("d-none");
                        $("#enviar").removeClass("d-none")
                        $("#testeDisabled").prop('disabled', false);
                    } else {
                        addSucces(data.msg, null, null);
                        $("#load").addClass("d-none");
                        $("#enviar").removeClass("d-none")
                        $("#testeDisabled").prop('disabled', false);
                        //$('#alert').text(data.msg);
                        //$('#alert').removeClass('alert-hidde');
                        //$('#alert').addClass('alert-success');

                        //$('#visualizar').removeClass('alert-hidde');

                        limparFormTable();
                        linhas = [];
                    }
                },
                error: function () {
                    alert("Erro ao enviar os dados.");
                }
            });
        }

        var el = $('#Quantity');
        el.on('keyup', function () {
            $('#enviar').prop('disabled', isAnyEmpty(el));
        });

        function listarItensEstocaveis() {

            var itemName = $('#pesquisar-item-estoque').val();
            var itemName = itemName.toUpperCase()

            $.ajax({
                url: '/Item/SearchOnly',
                type: 'get',
                dataType: 'json',
                data: {
                    'itemName': itemName,
                },
                success: function (data) {
                    listarItensRadioEstoque(data);
                }
            });
        }

        function listarItensRadioEstoque(listItens) {
            $('tbody#lista-tabela-itens tr').remove();
            listItens.forEach(function (item) {
                var row = ""
                row += "<td class='d-none'>" + "<input type='radio' name='item-radio' id='" + item.ItemCode + "' onchange='escreverItemInputestq(this)' value='" + item.ItemCode + "' data-itemname='" + item.ItemName + "' data-unidademedida='" + item.UnidadeMedida + "' data-groupitem='" + item.GroupItem + "'>" + "</td>";
                row += "<td>" + item.ItemCode + "</td>";
                row += "<td>" + item.ItemName + "</td>";
                row += "<td>" + item.ItemClass + "</td>";

                $('tbody#lista-tabela-itens').append("<tr class='tr tr-click' onclick='fnc(this)' data-tipo='itemstq' data-id='" + item.ItemCode + "'>" + row + "<tr>");
            });
        }

        $(document).on('keydown', '#pesquisar-item-estoque', function (tab) {
            if (tab.which == 9 || tab.which == 13) {
                listarItensEstocaveis();
                $('#itens-modal').modal('toggle');
            }
        });

        function escreverItemInputestq(_radio) {
            $('#desc-item').val(jQuery(_radio).val());
            $('#pesquisar-item-estoque').val(jQuery(_radio).data("itemname"));
            $('#group-item').val(jQuery(_radio).data("groupitem"));

            $('#unidadeMedida').val(jQuery(_radio).data("unidademedida"));

            $('#itens-modal').modal('hide');
        }

    </script>
}
