﻿@model PowerOne.Models.Estoque.RequerimentoEstoque
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;

    PowerOne.Models.ConfDocumento configs = (PowerOne.Models.ConfDocumento)TempData["config"];

    List<PowerOne.Models.CentroCusto> ctCustos = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto"];
    List<PowerOne.Models.CentroCusto> ctCustos2 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto2"];
    List<PowerOne.Models.CentroCusto> ctCustos3 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto3"];
    List<PowerOne.Models.CentroCusto> ctCustos4 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto4"];
    List<PowerOne.Models.CentroCusto> ctCustos5 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto5"];

    List<PowerOne.Models.Deposito> depositos = (List<PowerOne.Models.Deposito>)TempData["depositos"];

    List<PowerOne.Models.Projetos> projetos = (List<PowerOne.Models.Projetos>)TempData["projetos"];
}

<h1 class="col-12 text-center">Detalhes da Requisição</h1>
<hr />

<div class="alert col-10 mx-auto alert-hide" role="alert" id="alert"></div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-10 mx-auto my-2" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger col-10 mx-auto" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<form action="~/RequerimentoEstoque/AprovarRequisicao" method="post">
    @*@Html.AntiForgeryToken()*@
    @Html.HiddenFor(id => Model.DocEntry)
    @Html.HiddenFor(Bp_ID => Model.Bp_ID)

    <div class="card col-10 mx-auto bg-light p-0">
        <div class="card-header p-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="row py-2">
                        <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocNum):</strong>
                        <div class="col-md-6">
                            <input class="form-control" value="@Html.DisplayFor(model => Model.DocNum)" readonly />
                        </div>
                    </div>
                    <div class="row py-2">
                        <strong class="col-md-6">Empresa:</strong>
                        <div class="col-md-6">
                            <input class="form-control" value="@Html.DisplayFor(model => Model.Bp_Name)" readonly />
                        </div>
                    </div>
                    <div class="row py-2">
                        <strong class="col-md-6">@Html.DisplayNameFor(model => Model.Requisitante):</strong>
                        <div class="col-md-6">
                            <input class="form-control" value="@Html.DisplayFor(model => Model.Requisitante)" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row py-2">
                        <strong class="col-md-6">@Html.DisplayNameFor(model => Model.Status):</strong>
                        <div class="col-md-6">
                            <input class="form-control" value="@Html.DisplayFor(model => Model.Status)" readonly />
                        </div>
                    </div>
                    <div class="row py-2">
                        <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DataLancamento):</strong>
                        <div class="col-md-6">
                            <input class="form-control" value="@Html.DisplayFor(model => Model.DataLancamento)" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 scroll max-height-500">
            @if (Model.Itens.Count == 0)
            {
                <h2 class="text-center"> Não Foram encontrados itens nessa Requisição de Estoque</h2>
            }
            else
            {
                <table class="table table-striped col-md-12 m-auto">
                    <thead class="thead-dark">
                        <tr>
                            @if (Model.Status != "Fechada" && autorizacoes.ReqEstoque != "R")
                            {
                                <th scope="col"><input id="checkTodos" type="checkbox" /></th>
                            }
                            else
                            {
                                <th> ✓</th>
                            }
                            <th scope="col">#</th>
                            <th scope="col">Código</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Grupo</th>
                            <th scope="col">Disponível Em Estoque</th>
                            <th scope="col">Quantidade Solicitada</th>
                            <th scope="col">Und. Medida</th>
                            <th scope="col">Depósito</th>
                            @if (TempData["ctCusto"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo</th>
                            }
                            @if (TempData["ctCusto2"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo 2</th>
                            }
                            @if (TempData["ctCusto3"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo 3</th>
                            }
                            @if (TempData["ctCusto4"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo 4</th>
                            }
                            @if (TempData["ctCusto5"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo 5</th>
                            }
                            @if (projetos != null)
                            {
                                <th scope="col">Cód. Projeto</th>
                            }
                            <th scope="col">Status Linha</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Itens)
                        {
                            <tr class="tr">

                                @if (Model.Status != "Fechada" && item.StatusLinha != "Fechada" && autorizacoes.ReqEstoque != "R")
                                {
                                    <td class="Check">
                                        <input type="text" class="form-control d-none" id="DocEntry" name="DocEntry" value="@Html.DisplayFor(model => item.DocEntry)" disabled>
                                        <input type="text" class="form-control d-none" id="IdLinha" name="IdLinha" value="@Html.DisplayFor(model => item.IdLinha)" disabled>

                                        <input type="checkbox" class="cbx-reqestoque td-table-form" name="linesChecked" value="@item.IdLinha" />
                                        <input type="checkbox" class="cbx-reqestoque visible-false input-table-form" name="linesChecked" value="@item.IdLinha" disabled />
                                    </td>
                                }
                                else
                                {
                                    if (item.StatusLinha == "Aberta")
                                    {
                                        <td class="text-muted ">
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-muted ">
                                            <span class="badge badge-success"> ✓</span>
                                        </td>
                                    }

                                }

                                <td>@Html.DisplayFor(model => item.IdLinha)</td>
                                <td class="CodigoItem">
                                    <span class="td-table-form">@Html.DisplayFor(model => item.CodigoItem)</span>
                                    @Html.TextBoxFor(model => item.CodigoItem, null, new { @class = "visible-false input-table-form form-control", Name = "CodigoItem", Readonly = "Readonly" })
                                </td>
                                <td class="DecricaoItem">
                                    <span class="td-table-form">@Html.DisplayFor(model => item.DecricaoItem)</span>
                                    @Html.TextBoxFor(model => item.DecricaoItem, null, new { @class = "visible-false input-table-form form-control", Name = "DecricaoItem", Readonly = "Readonly" })
                                </td>
                                <td>
                                    <span class="td-table-form">@Html.DisplayFor(model => item.GroupItem)</span>
                                    @Html.TextBoxFor(model => item.GroupItem, null, new { @class = "visible-false input-table-form form-control", Name = "GroupItem", Readonly = "Readonly" })
                                </td>
                                <td class="GetQtdDisp">
                                    <span class="td-table-form">@Html.DisplayFor(model => item.GetQtdDisp)</span>
                                    @Html.TextBoxFor(model => item.GetQtdDisp, null, new { @class = "visible-false input-table-form form-control", Name = "GetQtdDisp", Readonly = "Readonly" })
                                </td>
                                <td class="Quantidade">
                                    <span class="td-table-form">@Html.DisplayFor(model => item.Quantidade)</span>
                                    @Html.TextBoxFor(model => item.Quantidade, null, new { @class = "visible-false input-table-form form-control Quantidade", Name = "Quantidade", Id = "Quantidade", onkeypress = "return SomenteNumero(event, this);" })
                                </td>
                                <td>
                                    <span class="td-table-form">@Html.DisplayFor(model => item.UndMedida)</span>
                                    @Html.TextBoxFor(model => item.UndMedida, null, new { @class = "visible-false input-table-form form-control", Name = "UM", Readonly = "Readonly" })
                                </td>
                                <td class="CodigoDeposito">
                                    <span class="td-table-form">@Html.DisplayFor(model => item.CodigoDeposito)</span>
                                    <select name="Deposito" class="visible-false input-table-form form-control" id="Deposito">
                                        @foreach (var deposito in depositos)
                                        {
                                            if (deposito.WhsCode == item.CodigoDeposito)
                                            {
                                                <option value="@deposito.WhsCode" selected>@deposito.WhsCode - @deposito.WhsName</option>
                                            }
                                            else
                                            {
                                                <option value="@deposito.WhsCode">@deposito.WhsCode - @deposito.WhsName</option>
                                            }
                                        }
                                    </select>
                                </td>

                                @if (TempData["ctCusto"] != null)
                                {
                                    <td class="OcrCode">
                                        <span class="td-table-form ">@item.OcrCode - @item.OcrName</span>
                                        <select name="OcrCode" class="visible-false input-table-form form-control" id="OcrCode">
                                            @foreach (var ctCusto in ctCustos)
                                            {
                                                if (ctCusto.OcrCode == item.OcrCode)
                                                {
                                                    <option value="@ctCusto.OcrCode" selected>@ctCusto.OcrCode - @ctCusto.OcrName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ctCusto.OcrCode">@ctCusto.OcrCode - @ctCusto.OcrName</option>
                                                }
                                            }
                                        </select>
                                        <span id="ccusto_validacao" class="text-danger"></span>
                                    </td>
                                }
                                @if (TempData["ctCusto2"] != null)
                                {
                                    <td class="OcrCode2">
                                        <span class="td-table-form">@item.OcrCode2 - @item.OcrName3</span>
                                        <select name="OcrCode2" class="visible-false input-table-form form-control" id="OcrCode2">
                                            @foreach (var ctCusto2 in ctCustos2)
                                            {
                                                if (ctCusto2.OcrCode == item.OcrCode2)
                                                {
                                                    <option value="@ctCusto2.OcrCode.ToString()" selected>@ctCusto2.OcrCode - @ctCusto2.OcrName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ctCusto2.OcrCode.ToString()">@ctCusto2.OcrCode - @ctCusto2.OcrName</option>
                                                }
                                            }
                                        </select>
                                        <span id="ccusto2_validacao" class="text-danger"></span>
                                    </td>
                                }
                                @if (TempData["ctCusto3"] != null)
                                {
                                    <td class="OcrCode3">
                                        <span class="td-table-form">@item.OcrCode3 - @item.OcrName3</span>
                                        <select name="OcrCode3" class="visible-false input-table-form form-control" id="OcrCode3">
                                            @foreach (var ctCusto3 in ctCustos3)
                                            {
                                                if (ctCusto3.OcrCode == item.OcrCode3)
                                                {
                                                    <option value="@ctCusto3.OcrCode.ToString()" selected>@ctCusto3.OcrCode - @ctCusto3.OcrName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ctCusto3.OcrCode.ToString()">@ctCusto3.OcrCode - @ctCusto3.OcrName</option>
                                                }
                                            }
                                        </select>
                                        <span id="ccusto3_validacao" class="text-danger"></span>
                                    </td>
                                }
                                @if (TempData["ctCusto4"] != null)
                                {
                                    <td class="OcrCode4">
                                        <span class="td-table-form">@item.OcrCode4 - @item.OcrName4</span>
                                        <select name="OcrCode4" class="visible-false input-table-form form-control" id="OcrCode4">
                                            @foreach (var ctCusto4 in ctCustos4)
                                            {
                                                if (ctCusto4.OcrCode == item.OcrCode4)
                                                {
                                                    <option value="@ctCusto4.OcrCode.ToString()" selected>@ctCusto4.OcrCode - @ctCusto4.OcrName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ctCusto4.OcrCode.ToString()">@ctCusto4.OcrCode - @ctCusto4.OcrName</option>
                                                }
                                            }
                                        </select>
                                        <span id="ccusto4_validacao" class="text-danger"></span>
                                    </td>
                                }
                                @if (TempData["ctCusto5"] != null)
                                {
                                    <td class="OcrCode5">
                                        <span class="td-table-form">@item.OcrCode5 - @item.OcrName5</span>
                                        <select name="OcrCode5" class="visible-false input-table-form form-control" id="OcrCode5">
                                            @foreach (var ctCusto5 in ctCustos5)
                                            {
                                                if (ctCusto5.OcrCode == item.OcrCode5)
                                                {
                                                    <option value="@ctCusto5.OcrCode.ToString()" selected>@ctCusto5.OcrCode - @ctCusto5.OcrName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ctCusto5.OcrCode.ToString()">@ctCusto5.OcrCode - @ctCusto5.OcrName</option>
                                                }
                                            }
                                        </select>
                                        <span id="ccusto5_validacao" class="text-danger"></span>
                                    </td>
                                }

                                @if (projetos != null)
                                {
                                    <td class="Projeto">
                                        <span class="td-table-form">@item.Projeto</span>

                                        <div class="input-group mb-3">
                                            <input type="text" class="visible-false input-table-form form-control d-none idProjeto" id="idProjeto" name="Projeto" disabled>
                                            <input type="text" class="visible-false input-table-form form-control pesquisar-projetoDt" autocomplete="off" placeholder="Selecione..." id="pesquisar-projetoDt">
                                            <div class="visible-false input-table-form input-group-append">
                                                <button class="btn btn-outline-secondary material-icons tiny" type="button" onclick="SearchProjetoDetail(this)" data-toggle="modal" data-target="#projetoDt-modal">
                                                    search
                                                </button>
                                            </div>
                                        </div>

                                        <!-- Modal da seleção de Projeto -->
                                        <div class="modal" tabindex="-1" id="projetoDt-modal" aria-labelledby="" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable">
                                                <div class="modal-content">

                                                    <div class="modal-header text-white bg-dark">
                                                        <h5 class="modal-title">Selecione:</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body p-0 scroll max-height-500">
                                                        <table class="table table-striped table-hover col-md-12 m-auto ">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th scope="col">
                                                                        Código
                                                                    </th>
                                                                    <th scope="col">
                                                                        Descrição
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="lista-tabela-projetoDt">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer m-auto col-12">
                                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                }

                                <td>@Html.DisplayFor(model => item.StatusLinha)</td>
                                <td>
                                    @if (item.DocStatus == "Aberta" && item.StatusLinha == "Aberta")
                                    {
                                        <a class="btn btn-outline-dark td-table-form" onclick="toggleTableForm(this); disabledAprovar();">Editar</a>
                                        <button type="button" class="visible-false input-table-form btn btn-primary" onclick="disabledAprovar(this); Editar(this);">Salvar</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="input-table-form btn btn-primary" disabled>Editar</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>

        @if (autorizacoes.ReqEstoque != "R")
        {
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 m-auto">
                                <div class="form-group">
                                    <label>Observações:</label>
                                    <textarea class="form-control" name="observacoes"></textarea>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4 m-auto">
                                        <div class="row p-2">
                                            @if (Model.Status != "Aberta")
                                            {
                                                <button class="btn btn-danger col-md-12" disabled>Fechar</button>
                                            }
                                            else
                                            {
                                                <button type="button" id="fechar" class="btn btn-outline-danger col-md-12" data-toggle="modal" data-target="#confirmar@(+ Model.DocEntry)">
                                                    Fechar
                                                </button>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row p-2">
                                            @if (Model.Status != "Aberta")
                                            {
                                                <button type="submit" class="btn btn-success col-md-12" disabled>Aprovar</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-success col-md-12" id="aprova">Aprovar</button>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row p-2">
                                            @if (Model.Status != "Aberta")
                                            {
                                                @Html.ActionLink("Voltar", "Index", "RequerimentoEstoque", new { Tipo = '1' }, new { @class = "btn btn-outline-primary col-md-12" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Voltar", "Index", "RequerimentoEstoque", new { Tipo = '0' }, new { @class = "btn btn-outline-primary col-md-12" })
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</form>

@foreach (var item in Model.Itens)
{
    <!-- Modal confirmar fechar status do documento -->
    <div class="modal fade" id="confirmar@(+item.DocEntry)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-12" id="exampleModalLabel">Confirmação do Documento @(+item.DocNum)</h5>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>
                <div class="modal-body">
                    <p>Data de Lançamento: @(item.DataRequisicao.ToString("dd/MM/yyyy"))</p>

                    Você tem certeza que deseja cancelar esse <strong>Requerimento de Estoque</strong>
                    <br />Essa ação altera o status do documento de Aberto para <strong>Fechado</strong>
                </div>
                <div class="modal-footer">
                    <form action="~/RequerimentoEstoque/FecharRequerimento" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => item.DocEntry, new { Name = "DocEntry" })
                        <button type="submit" value="Fechar" class="btn btn-danger">Sim, Desejo fechar o Documento</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, Voltar</button>
                        @* @Html.ActionLink("Sim, Desejo fechar o Documento", "Fechar", "RequerimentoEstoque", new { DocEntry = item.DocEntry }, new { @class = "btn btn-danger " })*@
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script src="~/Content/scripts/selects.js"></script>

    <script src="~/Content/scripts/formInTableLine.js"></script>

    <script>

        function disabledAprovar() {
            if ($("#aprova").prop('disabled', false)) {
                $("#aprova").prop('disabled', true)
                $("#fechar").prop('disabled', true)
            } else {
                $("#aprova").prop('disabled', false)
                $("#fechar").prop('disabled', false)
            }
        }

        function Editar(elemento) {

            var linha = {};

            let linhaTabela = jQuery(elemento).parent().parent();
            let DocEntry = jQuery(jQuery(linhaTabela).find('td.Check')).find('#DocEntry').val();
            let IdLinha = jQuery(jQuery(linhaTabela).find('td.Check')).find('#IdLinha').val();

            let Quantidade = jQuery(jQuery(linhaTabela).find('td.Quantidade')).find('.Quantidade').val();
            let CodigoDeposito = jQuery(jQuery(linhaTabela).find('td.CodigoDeposito')).find('#Deposito').val();

            let OcrCode = jQuery(jQuery(linhaTabela).find('td.OcrCode')).find('#OcrCode').val();
            let OcrCode2 = jQuery(jQuery(linhaTabela).find('td.OcrCode2')).find('#OcrCode2').val();
            let OcrCode3 = jQuery(jQuery(linhaTabela).find('td.OcrCode3')).find('#OcrCode3').val();
            let OcrCode4 = jQuery(jQuery(linhaTabela).find('td.OcrCode4')).find('#OcrCode4').val();
            let OcrCode5 = jQuery(jQuery(linhaTabela).find('td.OcrCode5')).find('#OcrCode5').val();

            let Projeto = jQuery(jQuery(linhaTabela).find('td.Projeto')).find('#idProjeto').val();


            linha.DocEntry = DocEntry;
            linha.IdLinha = IdLinha;

            linha.Quantidade = Quantidade;
            linha.CodigoDeposito = CodigoDeposito;

            linha.OcrCode = OcrCode;
            linha.OcrCode2 = OcrCode2;
            linha.OcrCode3 = OcrCode3;
            linha.OcrCode4 = OcrCode4;
            linha.OcrCode5 = OcrCode5;

            console.log(linha);

            var VerProj = Projeto.length;
            if (VerProj != 0) {
                linha.Projeto = Projeto;
            }

            $.ajax({
                url: '/RequerimentoEstoque/AlterarLinha',
                type: 'post',
                dataType: 'json',
                data: {
                    'requerimentoLinha': linha,
                },
                success: function (data) {
                    if (data.type == 'error') {
                        $('#alert').text(data.msg);
                        $('#alert').removeClass('alert-hide');
                        $('#alert').addClass('alert-danger');
                    } else {
                        $('#alert').text(data.msg);
                        $('#alert').removeClass('alert-hide');
                        $('#alert').removeClass('alert-danger');
                        $('#alert').addClass('alert-success');

                        setTimeout(function () { location.reload(true); }, 1000);
                        window.scroll(0, 0);
                    }
                },
                error: function () {
                    alert("Erro ao enviar os dados.");
                }
            });
        }

    </script>
}