:root {
    --bg-color: #601979;
    --hover-color: #39084a;
}

thead, th {
    background-color: #783F8C !important;
    border-color: #783F8C !important;
}

.cardnosso {
    border-color: #783F8C;
}