:root {
    --bg-color: #ffc107;
    --hover-color: #a77d01;
}

thead, th {
    background-color: #dea600 !important;
    border-color: #dea600 !important;
}

.cardnosso {
    border-color: #d8d118;
}