﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.Estoque.RequerimentoEstoqueLinhas> lotes = (List<PowerOne.Models.Estoque.RequerimentoEstoqueLinhas>)TempData["ItensLote"];
    int quant = 0;

}

<h1 class="col-12 text-center">Selecionar Lotes dos itens</h1>
<small class="text-muted col-12 text-center">Referente ao Requerimento de Estoque número @(TempData["DocEntry"])</small>
<hr />

<div class="alert col-10 mx-auto alert-hidde" role="alert" id="alert">
</div>

<div class="card col-10 mx-auto bg-light p-0">
    <form action="" method="">
        <div class="card-body p-0 scroll mb-4">
            <div class="row">

                <table class="table col-md-12 m-auto text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                #
                            </th>
                            <th scope="col">
                                Cód. Item
                            </th>
                            <th scope="col">
                                Desc. Item
                            </th>
                            <th scope="col">
                                Depósito
                            </th>
                            <th scope="col">
                                Quantidade
                            </th>
                            <th scope="col">
                                Salvar
                            </th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lote in lotes)
                        {
                                quant++;
                                <tr class="tr tr-click" id="@lote.IdLinha" onclick='PegarLote(this)' data-itemcode="@lote.CodigoItem" data-deposito="@lote.CodigoDeposito" >
                                    <td scope="col">
                                        @lote.IdLinha
                                    </td>
                                    <td scope="col">
                                        @lote.CodigoItem
                                    </td>
                                    <td scope="col">
                                        @lote.DecricaoItem
                                    </td>
                                    <td scope="col">
                                        @lote.CodigoDeposito
                                    </td>
                                    <td scope="col">
                                        @lote.Quantidade
                                    </td>
                                    <td scope="col">
                                        <button disabled="disabled" data-itemcode="@lote.CodigoItem" data-idlinha="@lote.IdLinha" data-quantidade="@lote.Quantidade" data-deposito="@lote.CodigoDeposito" id="@lote.IdLinha.ToString()" class="btn btn-outline-success material-icons tiny btn-save" onclick="SalvarLoteItem(this)" type="button">save</button>
                                    </td>
                                </tr>
                                }
                        </tbody>
                </table>
            </div>

        </div>

        <div class="card-body p-0 scroll max-height-400">
            <div class="row">
                <table class="table table-striped col-md-12 m-auto text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                #
                            </th>
                            <th scope="col">
                                Lote
                            </th>
                            <th scope="col">
                                Qtd. Disponível
                            </th>
                            <th scope="col">
                                Qtd. Selecionada
                            </th>
                        </tr>
                    </thead>
                    <tbody id="lista-lotes">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row p-2">
                                <button onclick="Aprova()" class="btn btn-success col-md-12" id="enviar" type="button" disabled="disabled">Aprovar</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row p-2">
                                @*<a role="button" class="btn btn-outline-primary  col-md-12" href="../">Voltar</a>*@
                                @Html.ActionLink("Voltar", "Details", "RequerimentoEstoque", new { DocEntry = TempData["DocEntry"], Filial = TempData["BPid"] }, new { @class = "btn btn-outline-primary  col-md-12" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row p-2">
                                <a href="" class="btn col-md-12 btn-outline-warning" type="button" >Resetar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{

    <script>
        var count = 0

        @Html.Raw("var observacoes = '" + TempData["observacoes"] + "'")
        @Html.Raw("var lineChecked = []");

        @foreach (string line in ((string[])TempData["LinesChecked"]))
        {
            @Html.Raw("lineChecked.push(" + line + ");")
        }

        @Html.Raw("var bpid = '" + TempData["BPid"] + "'")
        @Html.Raw("var docEntry = '" +TempData["DocEntry"] + "'")
        @Html.Raw("var quantItens = '"+quant+"'")

        function PegarLote(_tr) {

            let ItemCode = jQuery(_tr).attr("data-itemcode");

            if ($('#' + _tr.IdLinha).hasClass('tr-success')) {
                jQuery(_tr).find('td .btn-save').prop('disabled', true)
            } else {
                if ($('td .btn-save').prop('disabled', true)) {
                    jQuery(_tr).find('td .btn-save').prop('disabled', false);
                } else {
                    jQuery(_tr).find('td .btn-save').prop('disabled', true);
                }
            }

            //if (docValid()) {
            $.ajax({
            url: '/Lote/ListLotes',
                type: 'get',
                dataType: 'json',
                data: {
                    'ItemCode': ItemCode,
                    'codigoDeposito': jQuery(_tr).attr("data-deposito")
                },
                success: function (data) {
                    exibeTdLote(data)
                    if (data == null || data.length == 0) {
                        alert("O item " + ItemCode + " Não possui lotes atribuídos ao depósito " + jQuery(_tr).attr("data-deposito") + "");
                    }
                    exibeItem();
                },
                error: function () {
                 alert("Erro ao enviar os dados.");
                }
            });
            //}
        }

        function exibeTdLote(listItensLote) {
        $('tbody#lista-lotes tr').remove();
            listItensLote.forEach(function (Lote) {
                var row = ""
                //row += "<td>" + Lote.DistNum + "</td>";
                row += "<td class='SysNumber'>" + Lote.SysNumber + "</td>";
                row += "<td class='BatchNum'>" + Lote.BatchNum + "</td>";
                row += "<td class='QuantidadeDisponivel'>" + Lote.Quantity + "</td>";
                row += "<td><div class='row'><input inputmode='numeric' type='tel' onkeypress='return SomenteNumero(event, this)' class='form-control col-md-3 mx-auto QuantidadeSelecionada' max='" + Lote.Quantity + "'/></div></td>";

            $('tbody#lista-lotes').append("<tr class='tr'>" + row + "<tr>");
            });
        }

        function exibeItem() {
            //console.log($('#ItemCode').find(':selected').attr('data-deposito'));

            let qtd = $('#ItemCode').find(':selected').attr('data-Quantidade');
            let deposito = $('#ItemCode').find(':selected').attr('data-deposito');

        $('#deposito').val(deposito);
        $('#Quantidade').val(qtd);
        }


        var LinhasRequerimento = []
        function SalvarLoteItem(_tr) {
            var LinhaRequerimento = {}

            var BatchNum = $('.BatchNum');
            var QuantidadeSelecionada = $('.QuantidadeSelecionada');
            var QuantidadeDisponivel = $('.QuantidadeDisponivel');
            var Sysnum = $('.SysNumber');

            var Lotes = []
            for (var i = 0; i < BatchNum.length; i++) {
                var LinhaLote = {}
                LinhaLote.BatchNum = jQuery(BatchNum[i]).text();
                LinhaLote.Quantity = jQuery(QuantidadeSelecionada[i]).val();
                LinhaLote.SysNumber = jQuery(Sysnum[i]).text();
                LinhaLote.QuantidadeDisponivel = jQuery(QuantidadeDisponivel[i]).text();
                LinhaLote.ItemCode = jQuery(_tr).attr("data-itemcode");
                LinhaLote.WhsCode = jQuery(_tr).attr("data-deposito");
                Lotes.push(LinhaLote);
            }

            LinhaRequerimento.IdLinha = jQuery(_tr).attr('data-idlinha');
            LinhaRequerimento.DocStatus = 'Aberta';
            LinhaRequerimento.Quantidade = jQuery(_tr).attr("data-quantidade");
            LinhaRequerimento.CodigoDeposito = jQuery(_tr).attr("data-deposito");
            LinhaRequerimento.CodigoItem = jQuery(_tr).attr("data-itemcode");
            LinhaRequerimento.Lotes = Lotes;
            LinhasRequerimento.push(LinhaRequerimento);

            Validar(_tr);
        }



        function DeletLinha(boleano, IdLinhaComp, _tr) {
            if (boleano) {
                escreverSucesso("Linha " + IdLinhaComp + " Salva com sucesso!");
                $('#' + IdLinhaComp).find('td .btn-save').addClass('d-none')
                $('#' + IdLinhaComp).addClass("tr-success");
                $('#' + IdLinhaComp).prop("disabled", true);

                
                count++;
                if (quantItens == count) {
                    $('#enviar').prop('disabled', false);
                }
            } else {
                $('#' + IdLinhaComp).addClass("tr-danger");
                LinhasRequerimento.pop();
            }
        }

      
        function Validar(_tr) {
            valid = true
            if (docValid()) {
                $.ajax({
                    url: '/Lote/ValidaçãoDoc',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'ReqLinhas': LinhasRequerimento
                    },
                    success: function (data) {
                        if (data.type == 'error') {
                            escreverMensagemEmHead(data.msg);
                            valid = false
                            DeletLinha(valid, data.IdLinha, _tr)
                        } else {
                            valid = true
                            DeletLinha(valid, data.IdLinha, _tr)
                        }
                    },
                    error: function () {
                    }
                });
            }
        }

        function Aprova() {
            if (docValid()) {
            $.ajax({
                url: '/Lote/Aprovar',
                type: 'post',
                dataType: 'json',
                data: {
                    'DocEntry': docEntry,
                    'ReqLinhas': LinhasRequerimento,
                    'linesChecked':lineChecked,
                    'observacoes': observacoes,
                    'bpid': bpid,
                    'quant': quantItens
                },
                success: function (data) {
                    if (data.type == 'error') {
                        escreverMensagemEmHead(data.msg);
                    } else {
                        valid = true;
                        addSucces(data.msg, true, null);
                    }
                },
                error: function () {

                }
            });
            }
        }


        function docValid() {
            valid = true;
            if ($('.QuantidadeSelecionada') == null || $('.QuantidadeSelecionada') == undefined || $('.QuantidadeSelecionada') == "") {
                escreverMensagemEmHead("As quantidades devem ser inseridas!");
                valid = false;
            }

            return valid;
        }



    </script>
}