﻿@model PowerOne.Models.ConfiguracoesEmail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="col-12 text-center">Configurar Email</h1>
<hr />

@if (TempData["Success"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-md-7 m-auto shadow p-5 mb-5 bg-light rounded">

    <div class="card-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="true">Configurações de Email</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="anexo-tab" data-toggle="tab" href="#anexo" role="tab" aria-controls="anexo" aria-selected="true">Anexos</a>
            </li>
        </ul>
    </div>

    <div class="tab-content card-body" id="ContentConfigEmail">

        <div class="tab-pane fade show active" id="email" role="tabpanel" aria-labelledby="email-tab">
            <form class="row" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group col-md-6 p-2">
                    @Html.DisplayNameFor(model => Model.Email)
                    @Html.TextBoxFor(model => Model.Email, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.Email, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6 p-2">
                    @Html.DisplayNameFor(model => Model.Senha)
                    @Html.TextBoxFor(model => Model.Senha, null, new { @class = "form-control", Type = "password" })
                    @Html.ValidationMessageFor(model => Model.Senha, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6 p-2">
                    @Html.DisplayNameFor(model => Model.Servidor)
                    @Html.TextBoxFor(model => Model.Servidor, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.Servidor, String.Empty, new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6 p-2">
                    @Html.DisplayNameFor(model => Model.Porta)
                    @Html.TextBoxFor(model => Model.Porta, null, new { @class = "form-control", Type = "number" })
                    @Html.ValidationMessageFor(model => Model.Porta, String.Empty, new { @class = "text-danger" })
                </div>
                @*<div class="form-group col-md-12 p-2">
                        @Html.DisplayNameFor(model => Model.Servico)
                        @Html.TextBoxFor(model => Model.Servico, null, new { @class = "form-control" })
                    </div>*@
                <div class="form-group col-md-8 mx-auto row">
                    <div class="col-md-6">
                        <div class="row p-2">
                            <button class="btn btn-success col-md-12" type="submit">Salvar</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-2">
                            @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade show" id="anexo" role="tabpanel" aria-labelledby="anexo-tab">
            <form action="~/Configuracoes/Anexo" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.DisplayNameFor(confAnexo => Model.DirNotaFiscal)
                    @Html.TextBoxFor(confAnexo => Model.DirNotaFiscal, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(confAnexo => Model.DirBoleto)
                    @Html.TextBoxFor(confAnexo => Model.DirBoleto, null, new { @class = "form-control" })
                </div>

                <div class="form-group col-md-8 mx-auto row">
                    <div class="col-md-6">
                        <div class="row p-2">
                            <button class="btn btn-success col-md-12" type="submit">Salvar</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row p-2">
                            @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>