﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;

    PowerOne.Models.Login User = ((PowerOne.Models.Login)Session["auth"]);
    string color = null;
    if (User.Tema != null)
    {
        if (User.Tema.Color != null)
        {
            color = User.Tema.Color;
        }
    }
    string icon = null;
    if (User.Tema != null)
    {
        if (User.Tema.Icon != null)
        {
            icon = User.Tema.Icon;
        }
    }
}

<h1 class="text-center p-5">Temas</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-10 mx-auto my-2" role="alert">
        @TempData["Success"].ToString()
    </div>

    <div class="alert alert-warning col-10 mx-auto my-2" role="alert">
        <strong>AVISO:</strong> Se o tema não atualizar, limpe o cache do navegador e faça o login novamente.
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger col-10 mx-auto" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="menuLateral-tab" data-toggle="tab" href="#MenuLateral" role="tab" aria-controls="Menu Lateral" aria-selected="true">Menu Lateral</a>
    </li>
    @if (autorizacoes.Tipo == "Adm")
    {
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="logo-tab" data-toggle="tab" href="#logo" role="tab" aria-controls="logo" aria-selected="false">Logo</a>
        </li>
    }
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="icone-tab" data-toggle="tab" href="#icone" role="tab" aria-controls="icone" aria-selected="false">Ícones</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active p-5" id="MenuLateral" role="tabpanel" aria-labelledby="menuLateral-tab">
        <div class="row">
            <form class="col-md-10 mx-auto" action="~/Configuracoes/TrocarCorMenu" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label for="dark" class="col-md-12 p-5 text-white text-center rounded" style="background-color: #343a40;"></label>
                            Preto:
                            @if (color == "BLACK")
                            {
                                <input type="radio" name="color" id="dark" value="BLACK" checked />
                            }
                            else
                            {
                                <input type="radio" name="color" id="dark" value="BLACK" />
                            }

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="red" class="col-md-12 p-5 text-dark text-center rounded" style="background-color: #DC5B5B;">
                            </label>
                            Vermelho:
                            @if (color == "RED")
                            {
                                <input type="radio" name="color" id="red" value="RED" checked />
                            }
                            else
                            {
                                <input type="radio" name="color" id="red" value="RED" />
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="blue" class="col-md-12 p-5 text-dark text-center rounded" style="background-color: #44ABD8;">
                            </label>
                            Azul:
                            @if (color == "BLUE")
                            {
                                <input type="radio" name="color" id="blue" value="BLUE" checked />
                            }
                            else
                            {
                                <input type="radio" name="color" id="blue" value="BLUE" />
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="green" class="col-md-12 p-5 text-dark text-center rounded" style="background-color: #50C895;">
                            </label>
                            Verde:
                            @if (color == "GREEN")
                            {
                                <input type="radio" name="color" id="green" value="GREEN" checked />
                            }
                            else
                            {
                                <input type="radio" name="color" id="green" value="GREEN" />
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="dark-green" class="col-md-12 p-5 text-white text-center rounded" style="background-color: #32855D;">
                            </label>
                            Verde Escuro:
                            @if (color == "DARKGREEN")
                            {
                                <input type="radio" name="color" id="dark-green" value="DARKGREEN" checked />
                            }
                            else
                            {
                                <input type="radio" name="color" id="dark-green" value="DARKGREEN" />
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="orange" class="col-md-12 p-5 text-white text-center rounded" style="background-color: #d67604;">
                            </label>
                            Laranja:
                            @if (color == "ORANGE")
                            {
                                <input  type="radio" name="color" id="orange" value="ORANGE" checked />
                            }
                            else
                            {
                                <input  type="radio" name="color" id="orange" value="ORANGE" />
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="yellow" class="col-md-12 p-5 text-dark text-center rounded" style="background-color: #ffc107;">
                            </label>
                            Amarelo:
                            @if (color == "YELLOW")
                            {
                                <input  type="radio" name="color" id="yellow" value="YELLOW" checked />
                            }
                            else
                            {
                                <input  type="radio" name="color" id="yellow" value="YELLOW" />
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="purple" class="col-md-12 p-5 text-dark text-center rounded" style="background-color: #AA59C7;">
                            </label>
                            Roxo:
                            @if (color == "PURPLE")
                            {
                                <input type="radio" name="color" id="purple" value="PURPLE" checked />
                            }
                            else
                            {
                                <input  type="radio" name="color" id="purple" value="PURPLE" />
                            }
                        </div>
                    </div>


                    <div class="col-md-12 m-auto p-5 d-flex justify-content-center">
                        <div class="col-md-3">
                            <div class="row p-2">
                                <button type="submit" class="btn btn-success col-md-12">Salvar</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row p-2">
                                @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="tab-pane fade" id="logo" role="tabpanel" aria-labelledby="profile-tab">
        <form enctype="multipart/form-data" class="col-md-10 mx-auto row" action="~/Configuracoes/UploadLogo" method="post">
            <div class="form-group col-md-6 mx-auto">
                <h5 class=" p-1 mt-5">Envie a logo da empresa:</h5>
                <input type="file" name="logo" class="form-control-file p-3 border border-dark rounded mt-3 bg-light" />
            </div>

            <div class="col-md-12 m-auto p-5 d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="row p-2">
                        <button type="submit" class="btn btn-success col-md-12">Salvar</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row p-2">
                        @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="tab-pane fade" id="icone" role="tabpanel" aria-labelledby="contact-tab">
            <form action="~/Configuracoes/ChangeIcons" method="post">
                <div class="row">

                    <div class="col-md-3 m-4">
                        <label for="PRO" class="col-md-12 p-5 rounded border border-dark rounded bg-light">
                            <img class="samples" src="~/Content/img/pro_samples.png" alt="Beuty Ícons" />
                        </label>
                        Opção 1:
                        @if (icon == "PRO")
                        {
                            <input type="radio" name="icon" id="PRO" value="PRO" checked />
                        }
                        else
                        {
                            <input type="radio" name="icon" id="PRO" value="PRO" />
                        }
                    </div>

                    <div class="col-md-3 m-4">
                        <label for="CARTOON" class="col-md-12 p-5 border border-dark rounded bg-light">
                            <img class="samples" src="~/Content/img/cartoon_samples.png" alt="Beuty Ícons" />
                        </label>
                        Opção 2:
                        
                        @if (icon == "CARTOON")
                        {
                            <input type="radio" name="icon" id="CARTOON" value="CARTOON" checked />
                        }
                        else
                        {
                            <input type="radio" name="icon" id="CARTOON" value="CARTOON"  />

                        }
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6 m-auto">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row p-2">
                                    <button type="submit" class="btn btn-success col-md-12">Salvar</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row p-2">
                                    @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
</div>
</div>
