﻿@model  PowerOne.Models.ViewModel.AlterarSenhaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card col-lg-4 col-md-8 col-sm-8 mx-auto my-5 shadow p-5 mb-5 rounded p-3 bg-login">
        <div class="card-body">
            <div class="row">
                <h1 class="text-center col-12">Alterar Senha</h1>
            </div>
            <hr />

            <form action="~/Login/AlterarSenha" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.HiddenFor(item => ((PowerOne.Models.Login)Session["auth"]).Id)
                    @Html.HiddenFor(item => ((PowerOne.Models.Login)Session["auth"]).CodPNLink)
                    @Html.HiddenFor(item => ((PowerOne.Models.Login)Session["auth"]).User)
                    @Html.HiddenFor(item => ((PowerOne.Models.Login)Session["auth"]).email)
                </div>
                <div class="form-group">
                    @Html.LabelFor(item => Model.CurrentPassword)
                    @Html.PasswordFor(item => Model.CurrentPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(item => Model.CurrentPassword, String.Empty, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(item => Model.NewPassword)
                    @Html.PasswordFor(item => Model.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(item => Model.NewPassword, String.Empty, new { @class = "text-danger" })
                </div>

                <div class="row">
                    @*<div class="col-md-8 m-auto">*@
                        <button type="submit" class="btn btn-dark col-12 p-2 m-2">
                            Alterar Senha
                        </button>
                    @*</div>*@

                </div>
            </form>
        </div>
    </div>