﻿@model PowerOne.Models.ViewModel.RecuperarSenhaViewModel 
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <div class="card col-lg-4 col-md-8 col-sm-8 mx-auto my-5 shadow p-5 mb-5 rounded p-3 bg-login">
        <div class="card-body">
            <div class="row">
                <h2 class="text-center col-12 font-weight-bold">Recuperar Senha</h2>
            </div>

            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Colaborador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cliente</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form action="~/Login/RecuperarSenha" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>Digite a seguir o seu Email. </label>
                            <label>Você receberá um email com uma nova senha.</label>
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(item => Model.FirstName)
                            @Html.TextBoxFor(item => Model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(item => Model.FirstName, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(item => Model.LastName)
                            @Html.TextBoxFor(item => Model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(item => Model.LastName, String.Empty, new { @class = "text-danger" })
                        </div>*@
                        <div class="form-group">
                            @Html.LabelFor(item => Model.Email)
                            @Html.TextBoxFor(item => Model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(item => Model.Email, String.Empty, new { @class = "text-danger" })
                        </div>

                        <div class="row">
                            <button type="submit" class="btn btn-dark btn-block m-auto">
                                Recuperar Senha
                            </button>
                            <div class="col-md-12 text-center">
                                <a href="~/Login">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form action="~/Login/RecuperarSenhaPN" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>Digite a seguir o seu Email. </label>
                            <label>Você receberá um email com uma nova senha.</label>
                        </div>
                        @*<div class="form-group">
                            Código de PN
                            @Html.TextBoxFor(item => Model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(item => Model.FirstName, String.Empty, new { @class = "text-danger" })
                        </div>*@
                        <div class="form-group">
                            @Html.LabelFor(item => Model.Email)
                            @Html.TextBoxFor(item => Model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(item => Model.Email, String.Empty, new { @class = "text-danger" })
                        </div>

                        <div class="row">
                            <button type="submit" class="btn btn-dark btn-block m-auto">
                                Recuperar Senha
                            </button>
                            <div class="col-md-12 text-center">
                                <a href="~/Login">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr />

        </div>
    </div>
