﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Assistente de Cobrança";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }
    
    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="text-center p-5">Assistente de Cobrança</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.ModeloEmail != "N" || autorizacoes.Grupo.ModeloEmail != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/MailModel/Overview" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Visão Geral</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/eye-outline.svg" class="img-icon" alt="ícone visão geral" />
                        @*<h1 class="card-element">@TempData["consultaModelos"].ToString()</h1>
                        <p class="cardnosso-sub">Modelos Cadastrados</p>*@
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.ModeloEmail != "N" || autorizacoes.Grupo.ModeloEmail != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/MailModel/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Modelos</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/arrow-forward-circle-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["consultaModelos"].ToString()</h1>
                        <p class="cardnosso-sub">Modelos Criados</p>
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.CriarModeloEmail != "N" || autorizacoes.Grupo.CriarModeloEmail != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/MailModel/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Cadastrar Modelos</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/add-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.AssistEnvio != "N" || autorizacoes.Grupo.AssistEnvio != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/SendingWizard/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Assistente de Envio</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/mail-unread-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.Clientes != "N" || autorizacoes.Grupo.Clientes != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/BusinessPartner/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Clientes</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/person-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.GrpClientes != "N" || autorizacoes.Grupo.GrpClientes != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/BPGroup/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Grupo de Clientes</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/people-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["grupos"].ToString()</h1>
                        <p class="cardnosso-sub">Grupos de Clientes</p>
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.RegistroEnvEmail != "N" || autorizacoes.Grupo.RegistroEnvEmail != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/LogEmails/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Registro de Envios</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/document-text-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["registrosMes"].ToString()</h1>
                        <p class="cardnosso-sub">Registros nos últimos 30 dias</p>
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.RelatCobranças != "N" || autorizacoes.Grupo.RelatCobranças != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/LogEmails/Cobrancas" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Relatório de Cobranças</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/receipt-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }
    </div>
</div>
