﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Compras";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;

}

<h1 class="text-center p-5">Compras</h1>

<div class="container">
    <div class="row">

        @if ((autorizacoes.CriarSolCompra != "N") || (autorizacoes.Grupo.CriarSolCompra != "N"))
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/SolicitacaoCompras/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">                        
                        <div class="card-body">
                            <h5 class="cardnosso-title">Criar Solicitação</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/document-text-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["consultasSolicitacao"].ToString()</h1>
                        <p class="cardnosso-sub">Solicitações nos últimos 7 dias</p>                        
                    </div>
                </a>
            </div>
        }

        @if ((autorizacoes.CriarPedCompra != "N") || (autorizacoes.Grupo.CriarPedCompra != "N"))
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/PedidoCompras/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">                        
                        <div class="card-body">
                            <h5 class="cardnosso-title">Criar Pedidos</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/cart-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["consultasPedido"].ToString()</h1>
                        <p class="cardnosso-sub">Pedidos nos últimos 7 dias</p>                        
                    </div>
                </a>
            </div>
        }


        @if ((autorizacoes.SolCompra != "N") || (autorizacoes.Grupo.SolCompra != "N"))
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/SolicitacaoCompras/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">                        
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Solicitações</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/pesquisa.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["vencimentosSolicitacoes"].ToString()</h1>
                        <p class="cardnosso-sub">Próximas ao vencimento</p>                        
                    </div>
                </a>
            </div>
        }

        @if ((autorizacoes.PedCompra != "N") || (autorizacoes.Grupo.PedCompra != "N"))
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/PedidoCompras/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Pedidos</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/pesquisa.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["vencimentosPedidos"].ToString()</h1>
                        <p class="cardnosso-sub">Próximos ao vencimento</p>
                    </div>
                </a>
            </div>
        }



    </div>
</div>
