﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Contrato";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="text-center p-5">Contratos</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.VisualizarContratos != "N" || autorizacoes.Grupo.VisualizarContratos != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/Contrato/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Visualizar Contratos</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/icon-contrato.svg" class="img-icon" alt="ícone visualizar contratos" />
                    </div>
                </a>
            </div>
        }

</div>
</div>