﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}


<h1 class="text-center p-5">CRM</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.PN != "N" || autorizacoes.Grupo.PN != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/CRM/PN" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Cadastro de Cliente</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/cadastroPn.svg" class="img-icon" alt="ícone cadastrar lead" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.OportVenda != "N" || autorizacoes.Grupo.OportVenda != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/CRM/OportVenda" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Oportunidade De Vendas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/oportunidadeVenda.svg" class="img-icon" alt="ícone oportunidade de venda" />
                    </div>
                </a>
            </div>

            <div class="col-md-4 p-1">
                <a href="~/CRM/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Oportunidades</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/exibirOp.svg" class="img-icon" alt="ícone oportunidade de venda" />
                    </div>
                </a>
            </div>
        }

        @*@if (autorizacoes.ConsultaPN != "N" || autorizacoes.Grupo.ConsultaPN != "N")
        {*@
        <div class="col-md-4 p-1">
            <a href="~/CRM/IndexPNCRM" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <h5 class="cardnosso-title">Consultar Clientes</h5>
                    </div>
                    <img src="~/Content/img/@diretorio/search_people.svg" class="img-icon" alt="ícone oportunidade de venda" />
                </div>
            </a>
        </div>
        @* } *@

    </div>
    </div>