﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Faturamentos";

    
        string diretorio = "PRO";
   }

<h1 class="text-center p-5">Visualização de Documentos</h1>

<div class="container">
    <div class="row">

        <div class="col-md-4 p-1">
            <a href="~/PortalPN/ListHoras" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">

                        <h5 class="cardnosso-title"> Relatórios de Horas<br><small class="text-muted">(Cotação)</small></h5>
                    </div>

                    <img src="~/Content/img/@diretorio/Fpendentes.svg" class="img-icon" alt="ícone exibir requisições" />
                </div>
            </a>
        </div>

        <div class="col-md-4 p-1">
            <a href="~/PortalPN/ContratosRel" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <h5 class="cardnosso-title">Relatório de Horas Aprovados<br><small class="text-muted">(Pedido)</small></h5>
                    </div>

                    <img src="~/Content/img/@diretorio/horas.png" class="img-h" alt="ícone exibir requisições" />
                </div>
            </a>
        </div>

        <div class="col-md-4 p-1">
            <a href="~/PortalPN/ListFaturamentos" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <h5 class="cardnosso-title"> Faturas</h5>
                    </div>
                    <img src="~/Content/img/@diretorio/document-text-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                </div>
            </a>
        </div>

        <div class="col-md-4 p-1">
            <a href="~/PortalPN/ListReembolso" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <h5 class="cardnosso-title">Reembolsos</h5>
                    </div>
                    <img src="~/Content/img/@diretorio/wallet-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                </div>
            </a>
        </div>

    </div>
</div>
