﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Overview";
}

<h1 class="text-center p-5">Overview</h1>

<div class="container">
    <div class="row mb-4">
       
            <div class="col-12 pb-4">
                <h3 class="text-center p-3"> Pesquisar Módulos</h3>
                <form class="row">
                    @*<input id="pesquisa" type="search" class="form-control bg-light rounded-pill col-md-8 mx-auto" />*@
                    <div class="input-group  col-md-8 mx-auto">
                        <input autofocus class="form-control" id="pesquisa" type="search" aria-label="Search" style="border-right: none;">
                        <div class="input-group-append">
                            <div class="input-group-text " style="background-color: #FFF"><i class="material-icons">search</i></div>
                        </div>
                    </div>
                </form>
            </div>
        
    </div>
    <div class="row mb-4">

  
            <div class="col-md-6 p-1">
                <div class="cardnosso bg-light p-5">
                    <div class="card-body">
                        <div id="chart_div"></div>
                    </div>
                </div>
            </div>

        <div class="col-md-6 p-1">
            <div class="cardnosso bg-light p-5">
                <h5>Dados gerais:</h5>
                <div class="card-body">
                    <ul class="overview">
                        <li>
                            <p>Logado como: </p>
                            <h6>@*@(((PowerOne.Models.Login)Session["auth"]).User)*@</h6>
                        </li>
                        <li>
                            @*@if (((PowerOne.Models.Login)Session["auth"]).Tipo == "F")
                            {
                                <p>Setor: </p>
                                <h6>@(((PowerOne.Models.Login)Session["auth"]).Autorizacoes.Grupo.Name)</h6>
                            }
                            else
                            {
                                <p>Código do parceiro: </p>
                                <h6>@(((PowerOne.Models.Login)Session["auth"]).CodPNLink)</h6>
                            }*@
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script type="text/javascript">
        var thema = [];
                 cores = ['#a51919', '#de1818', '#610d0d', '#f3b49f']
                //primeiro grafico
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawBasic);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([

               ['Ações', 'UND'],
               ['Pedidos de Compra',3],
               ['Solicitações de Compras', 2],
               ['Requerimento de estoque',  2],
               ['Reembolsos', 2]
            ]);

            var options = {
                animation: {
                    duration: 1000,
                    easing: 'in'
                },
                pieStartAngle: 70,
                pieHole: 0.4,

                legend: { position: "bottom", alignment: "center" },
                pieSliceText: 'label',
                title: 'Documentos adicionados nos últimos 7 dias',
                chartArea: {
                    backgroundColor: '#f8f9fa',

                    width: '100%',
                    height: '65%'
                },
                backgroundColor: '#f8f9fa',
                colors: cores,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        //segundo grafico
        function drawBasic() {

            var data = google.visualization.arrayToDataTable([
                ['Card', 'Quantidade Total', { role: 'style' }],
                ['Reembolsos',2],cores[0]],
                ['Faturas',2], cores[1]],
                ['Contratos',2], cores[2]],
            ]);

            var options = {
                legend: { position: "none" },
                animation: {
                    duration: 1000,
                    easing: 'in'
                },
                title: 'Relação de Documentos',
                hAxis: {
                    title: 'Nome do Modulo',
                },
                backgroundColor: '#f8f9fa',
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }


        var pages = [
        /*assistente*/
            //{ label: "Exibir Modelos - Assistente de Cobrança", url: "./MailModel/Index" },
            //{ label: "Cadastrar Modelos - Assistente de Cobrança", url: "./MailModel/Create" },
            //{ label: "Assistente de Envio - Assistente de Cobrança", url: "./SendingWizard/Index" },
            //{ label: "Clientes - Assistente de Cobrança", url: "./BusinessPartner/Index" },
            //{ label: "Grupo de Clientes Registro de Envio - Assistente de Cobrança", url: "./BPGroup/Index" },
            //{ label: "Relatório de Cobranças - Assistente de Cobrança", url: "./LogEmails/Cobrancas" },
            //{ label: "Registros de Envios - Assistente de Cobrança", url: "./LogEmails/Index" },
        /*compras*/
            { label: "Exibir Solicitações - Compras", url: "./SolicitacaoCompras/Index"},
            { label: "Criar Solicitação - Compras", url: "./SolicitacaoCompras/Create"},
            { label: "Exibir Pedidos de Compra- Compras", url: "./PedidoCompras/Index" },
            { label: "Criar Pedido de Compra - Compras", url: "./PedidoCompras/Create" },
        /*Timesheet*/
            { label: "Apontamento de Horas - Timesheet", url: "./TimeSheet/Apontamento" },
            { label: "Revisão de Horas - Timesheet", url: "./TimeSheet/RevisaoHoras" },
            { label: "Relatórios- Timesheet", url: "./TimeSheet/UsuariosPendentes" },
            { label: "Usuários Pendentes - Timesheet", url: "./TimeSheet/Relatorios" },
        /*CRM*/
            { label: "Exibir Oportunidades - CRM", url: "./CRM/Index" },
            { label: "Cadastro de Parceiros - CRM", url: "./CRM/PN" },
            { label: "Oportunidade de Vendas - CRM", url: "./CRM/OportVenda" },
        /*estoque*/
            { label: "Criar Estoque - Estoque", url: "./RequerimentoEstoque/Create" },
            { label: "Exibir Estoque- Estoque", url: "./RequerimentoEstoque/Index" },
         /*Financeiro*/
            { label: "Exibir Reembolsos - Financeiro", url: "./SolicitacaoReembolso/Index" },
            { label: "Criar Reembolso - Financeiro", url: "./SolicitacaoReembolso/Create" },
        /*Configracoes*/
            { label: "Configurar Email - Configurações", url: "./Configuracoes/Email" },
            { label: "Temas - Configurações", url: "./Configuracoes/Temas" },
            { label: "Autorizações - Configurações", url: "./DocConfig/Autorizacoes" },
            { label: "Configurações do Documento - Configurações", url: "./DocConfig/DocConfig" },
            { label: "Alterar Senha - Configurações", url: "./Login/AlterarSenha" }
        ];

        $("#pesquisa").autocomplete({
            source: pages,
            select: function (event, page) {
                window.open(page.item.url)
            }
        });
    </script>



}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
