﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Financeiro";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="text-center p-5">Financeiro</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.CriarReembolso != "N" || autorizacoes.Grupo.CriarReembolso != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/SolicitacaoReembolso/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Criar Reembolso</h5>
                        </div>

                        <img src="~/Content/img/@diretorio/git-compare-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.CriarLancamentoDesp != "N" || autorizacoes.Grupo.CriarLancamentoDesp != "N")
        {

            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/LancamentoDesp/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Criar lançamento de despesas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/wallet-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.CriarPrestacaoContas != "N" || autorizacoes.Grupo.CriarPrestacaoContas != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/PrestacaoContas/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Criar prestação de Contas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/iconfinder_cash_3827994.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.Reembolso != "N" || autorizacoes.Grupo.Reembolso != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/SolicitacaoReembolso/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Reembolsos</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/cash-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["consultasReembolsos"].ToString()</h1>
                        <p class="cardnosso-sub">Reembolsos Pendentes</p>
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.LancamentoDesp != "N" || autorizacoes.Grupo.LancamentoDesp != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/LancamentoDesp/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Lançamentos de despesas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/documents-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["consultasLancamentos"].ToString()</h1>
                        <p class="cardnosso-sub">Lançamentos Pendentes</p>
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.PrestacaoContas != "N" || autorizacoes.Grupo.PrestacaoContas != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/PrestacaoContas/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Prestação de Contas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/clipboard-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["consultasPrestacao"].ToString()</h1>
                        <p class="cardnosso-sub">Prestações Pendentes</p>
                    </div>
                </a>
            </div>
        }

    </div>
</div>
