﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Timesheet";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="text-center p-5">Timesheet</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.ApontamentoHoras != "N" || autorizacoes.Grupo.ApontamentoHoras != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/TimeSheet/Apontamento" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Apontamento de Horas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/time-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.RevisaoHoras != "N" || autorizacoes.Grupo.RevisaoHoras != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/TimeSheet/RevisaoHoras?AutoRevisao=S" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Revisão de Horas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/bar-chart-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if ((autorizacoes.RevisaoHoras != "N" || autorizacoes.Grupo.RevisaoHoras != "N") && 
             (autorizacoes.Revisor == "S" || autorizacoes.Grupo.Revisor == "S") || autorizacoes.Tipo == "Adm")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/TimeSheet/RevisaoHoras" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Revisão Geral de Horas dos Advogados</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/all-timesheet-review.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.RelatorioTimesheet != "N" || autorizacoes.Grupo.RelatorioTimesheet != "N")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/TimeSheet/Relatorios" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Relatórios</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/report_icon.svg" class="img-icon" alt="ícone exibir relatórios" />
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.Coordenador != "N" || autorizacoes.Tipo == "Adm")
        {
            <div class="col-lg-4 col-md-6 p-1">
                <a href="~/TimeSheet/UsuariosPendentes" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Usuários com Pendências</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/lock-open.svg" class="img-icon" alt="ícone exibir usuários com pendências" />
                        <h1 class="card-element">@TempData["totalPendentes"].ToString()</h1>
                        <p class="cardnosso-sub">Total de usuários bloqueados</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

